image_only.pdf filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.ui linguist-vendored
*.md linguist-documentation
*.html linguist-vendored
*.pyz linguist-vendored
*.toc linguist-vendored
